In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [7]:
data = pd.read_csv('../src/data/epl.csv')

In [4]:
data

,date,home,away,home_goals,away_goals
0,2016-08-13,Hull City,Leicester City,2.0,1.0
1,2016-08-13,Everton,Tottenham Hotspur,1.0,1.0
2,2016-08-13,Crystal Palace,West Bromwich Albion,0.0,1.0
3,2016-08-13,Burnley,Swansea City,0.0,1.0
4,2016-08-13,Middlesbrough,Stoke City,1.0,1.0
...,...,...,...,...,...
1915,2021-08-21,Brighton and Hove Albion,Watford,2.0,0.0
1916,2021-08-22,Southampton,Manchester United,1.0,1.0
1917,2021-08-22,Wolverhampton,Tottenham Hotspur,0.0,1.0
1918,2021-08-22,Arsenal,Chelsea,0.0,2.0
1919,2021-08-23,West Ham United,Leicester City,4.0,1.0

In [8]:
y = np.sign(data['home_goals'] - data['away_goals'])

In [9]:
y

0       1.0
1       0.0
2      -1.0
3      -1.0
4       0.0
       ...
1915    1.0
1916    0.0
1917   -1.0
1918   -1.0
1919    1.0
Length: 1920, dtype: float64

In [12]:
X_train, X_test, y_train, y_test = train_test_split(data, y, test_size=0.2)

In [11]:
X_train

,date,home,away,home_goals,away_goals,home_team_win
715,2018-04-18,AFC Bournemouth,Manchester United,0.0,2.0,-1.0
1778,2021-03-02,Manchester City,Wolverhampton,4.0,1.0,1.0
1552,2020-10-04,Leicester City,West Ham United,0.0,3.0,-1.0
1297,2019-12-08,Aston Villa,Leicester City,1.0,4.0,-1.0
314,2017-04-15,Southampton,Manchester City,0.0,3.0,-1.0
...,...,...,...,...,...,...
421,2017-09-16,Newcastle,Stoke City,2.0,1.0,1.0
943,2018-12-26,Manchester United,Huddersfield Town,3.0,1.0,1.0
1641,2020-12-16,Fulham,Brighton and Hove Albion,0.0,0.0,0.0
519,2017-11-29,Manchester City,Southampton,2.0,1.0,1.0
1715,2021-01-30,Southampton,Aston Villa,0.0,1.0,-1.0

In [15]:
pd.get_dummies(data, columns=['home','away'],prefix=['home_', 'away_'])

,date,home_goals,away_goals,home_team_win,home__AFC Bournemouth,home__Arsenal,home__Aston Villa,home__Brentford,home__Brighton and Hove Albion,home__Burnley,...,away__Sheffield United,away__Southampton,away__Stoke City,away__Sunderland,away__Swansea City,away__Tottenham Hotspur,away__Watford,away__West Bromwich Albion,away__West Ham United,away__Wolverhampton
0,2016-08-13,2.0,1.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2016-08-13,1.0,1.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
2,2016-08-13,0.0,1.0,-1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,2016-08-13,0.0,1.0,-1.0,0,0,0,0,0,1,...,0,0,0,0,1,0,0,0,0,0
4,2016-08-13,1.0,1.0,0.0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1915,2021-08-21,2.0,0.0,1.0,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
1916,2021-08-22,1.0,1.0,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1917,2021-08-22,0.0,1.0,-1.0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1918,2021-08-22,0.0,2.0,-1.0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1919,2021-08-23,4.0,1.0,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0