In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

## Load and format data

In [11]:
X = pd.read_csv('../data/processed/epl.csv')
X = X[["HomeTeam", "AwayTeam", "FTHG", "FTAG", "Date"]]
X = X.rename(columns={"HomeTeam": "home", "AwayTeam": "away", "FTHG": "home_goals", "FTAG": "away_goals", "Date": "date",})
X = X.dropna()

/home/kevon/src/freekick/env/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (99) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [18]:
X.describe()

         home_goals    away_goals
count  10044.000000  10044.000000
mean       1.520410      1.138690
std        1.302301      1.135884
min        0.000000      0.000000
25%        1.000000      0.000000
50%        1.000000      1.000000
75%        2.000000      2.000000
max        9.000000      9.000000

In [19]:
X.info

<bound method DataFrame.info of              home            away  home_goals  away_goals      date
0         Arsenal  Crystal Palace         2.0         1.0  16/08/14
1       Leicester         Everton         2.0         2.0  16/08/14
2      Man United         Swansea         1.0         2.0  16/08/14
3             QPR            Hull         0.0         1.0  16/08/14
4           Stoke     Aston Villa         0.0         1.0  16/08/14
...           ...             ...         ...         ...       ...
10736     Swansea          Fulham         0.0         3.0  19/05/13
10737   Tottenham      Sunderland         1.0         0.0  19/05/13
10738   West Brom      Man United         5.0         5.0  19/05/13
10739    West Ham         Reading         4.0         2.0  19/05/13
10740       Wigan     Aston Villa         2.0         2.0  19/05/13

[10044 rows x 5 columns]>

In [24]:
X.dtypes

home           object
away           object
home_goals    float64
away_goals    float64
date           object
dtype: object

In [23]:
X.shape

(10044, 5)

In [12]:
X.head()

         home            away  home_goals  away_goals      date
0     Arsenal  Crystal Palace         2.0         1.0  16/08/14
1   Leicester         Everton         2.0         2.0  16/08/14
2  Man United         Swansea         1.0         2.0  16/08/14
3         QPR            Hull         0.0         1.0  16/08/14
4       Stoke     Aston Villa         0.0         1.0  16/08/14

In [13]:
y = np.sign(X['home_goals'] - X['away_goals'])

In [14]:
y.head()

0    1.0
1    0.0
2   -1.0
3   -1.0
4   -1.0
dtype: float64

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [16]:
X_train.head()

         home           away  home_goals  away_goals        date
6445  Everton  Middlesbrough         4.0         0.0    26/12/95
4612  Everton        Arsenal         0.0         1.0    10/02/02
8275  Swindon       West Ham         1.0         1.0    05/03/94
2120  Swansea        Watford         1.0         0.0  18/01/2016
4282  Everton         Fulham         4.0         1.0    06/04/07

In [17]:
pd.get_dummies(X, columns=['home','away'],prefix=['home_', 'away_']).head()

,home_goals,away_goals,date,home__Arsenal,home__Aston Villa,home__Barnsley,home__Birmingham,home__Blackburn,home__Blackpool,home__Bolton,...,away__Sunderland,away__Swansea,away__Swindon,away__Tottenham,away__Watford,away__West Brom,away__West Ham,away__Wigan,away__Wimbledon,away__Wolves
0,2.0,1.0,16/08/14,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2.0,2.0,16/08/14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1.0,2.0,16/08/14,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
3,0.0,1.0,16/08/14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.0,1.0,16/08/14,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0